<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css' />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="add-car" data-role="page">  
      <div data-role="header" id="map-header">
        <a href="/settings" class="ui-btn-left" data-icon="back">Return to Settings</a>
        <h1>Add a Car</h1>
      </div><!-- /header -->

      <form action="/car/add/" method="post">
        <div data-role="fieldcontain">
          <label for="make" class="select">Make:</label>
          <select name="make" id="make">
            <% for(var i=0; i < makes.length; i++) {%>
              <option value="<%= makes[i] %=>"><%= makes[i] %=></option>
            <% } %>
          </select>
        </div>  
        <div data-role="fieldcontain">
          <label for="model" class="select">Model:</label>
          <select name="model" id="model">
            <% for(var i=0; i < models.length; i++) {%>
              <option value="<%= models[i] %=>"><%= models[i] %=></option>
            <% } %>
          </select>
        </div>  
        <div data-role="fieldcontain">
          <label for="year" class="select">Year:</label>
          <select name="year" id="year">
            <% for(var i = new Date().getFullYear(); 1950 < i; i--) {%>
              <option value="<%= i %=>"><%= i %=></option>
            <% } %>
          </select>
        </div>  
      </form>
    </div>
  </body>
</html>

